.home-page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  align-items: center;
  margin-top: 120px;
}

.new-post-ta {
  background-color: #262626;
  width: 50%;
  padding: 20px 0px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border-radius: 15px;
  height: fit-content;
}

.new-post-button {
  background-color: #f41624;
  color: white;
  border: none;
  height: 35px;
  width: 80px;
  border-radius: 15px;
}

.new-post-input {
  background-color: #202020;
  resize: none;
  height: 25px;
  padding: 10px 0px 5px 15px;
  font-size: 17px;
  width: 70%;
  border: #393839 2px solid;
  border-radius: 15px;
  color: white;
}

textarea:focus {
  outline: 2px solid #f41624;
}
