.post-container {
  border-radius: 15px;
  width: 33%;
  background-color: #262626;
  height: fit-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.post-text {
  color: white;
}

.post-author-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.username-initial-circle {
  height: 38px;
  width: 38px;
  border-radius: 50%;
  background-color: #f41624;
  border: none;
  color: white;
  font-size: 20px;
}

.author-timestamp-box {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
