.signup-modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #262626;
  width: 320px;
  gap: 20px;
}

.signup-header {
  color: white;
  font-weight: 200;
}

.signup-form-itself {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.signup-input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 90%;
}

.signup-label {
  color: white;
}

.signup-input {
  background-color: #202020;
  color: white;
  border: #757575 1px solid;
  padding: 8px;
  padding-left: 15px;
  font-size: 16px;
  border-radius: 15px;
}

.signup-input:focus {
  outline: 2px solid #f41723;
  box-shadow: 0px 4px 10px #f41723;
}

.signup-button {
  font-size: 17px;
  padding: 7px;
  width: 90px;
  border: none;
  color: white;
  background-color: #f41723;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 5px;
}
